.title{
    margin-top: 350px;
}
.text-info{
    border: 1px solid gray;
    width: 350px;
    height: 300px;
    border-radius: 8px;
    margin: 0 auto;
    /* background-color: gray; */
}
.btn-primary{
    background-color: #309255 !important;
    border: none !important;
    padding: 10px 30px !important;
    font-weight: 700 !important;
}